<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>update</title>
	</head>
	<body>
		<form action="/breziniai/update/{{.ID}}" method="POST" id="update" enctype="multipart/form-data">
			<p>id: {{.ID}}</p>
			<div>
			<label for="file">Brezinys: </label>
			<input type="file" id="file" name="file"/>
			</div>
			<div>
			<label for="sutartys">Sutartis: </label>
			<select name="sutartys" id="sutartys" form="update">
				{{range .Sutartis}}
				<option value="{{.Sutartis.ID}}" {{if .Selected}}selected{{end}}>{{.Sutartis.ID}} {{.Sutartis.Sutartis}} {{.Sutartis.Kaina}}</option>
				{{end}}
			</select>
			</div>
			<button type="submit" form="update">Atnaujinti</button>
		</form>
	</body>
</html>
